<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>

    <!--  css  -->
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <style>

    </style>
</head>
<body>
    <div class="field">
        <div class="introduce">
            <h2 class="welcome">클래스메이트는 여러분의 수강신청과 함께 합니다</h2>
<!--            <img src="../static/img/logo.png" alt="logo">-->
            <ul class="introduce-detail">
                <li class="detail-content">수강신청 서비스, classmate에 오신 것을 환영합니다</li>
                <li class="detail-content">대용량 트래픽이 몰려도 안정적인 서비스를 제공합니다</li>
                <li class="detail-content">공정하고 신뢰성 있는 수강신청 결과를 보장합니다</li>
                <li class="detail-content">여러분의 성공적인 수강신청을 기원합니다</li>
            </ul>
        </div>
        <div class="container">
            <h2 class="login">로그인</h2>
            <input type="text" id="email" name="email" placeholder="Email" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <button class="login-btn" onclick="login()">로그인</button>
            <button class="signup-btn" onclick="window.location.href = '/signup'">회원가입</button>
            <div id="login-failed" style="display: none" class="alert alert-danger" role="alert">로그인에 실패하였습니다.</div>
        </div>
    </div>
</body>
</html>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // 토큰 삭제 - 이전 시간으로 돌려서 삭제함
        document.cookie = "Authorization=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        localStorage.removeItem("userId");
        const href = location.href;
        const queryString = href.substring(href.indexOf("?") + 1)
        if (queryString === 'error') {
            const errorDiv = document.getElementById('login-failed');
            errorDiv.style.display = 'block';
        }
    });

    function login() {
        let email = document.getElementById('email').value;
        let password = document.getElementById('password').value;
        console.log(email, password);

        fetch('/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({email: email, password: password}),
        })
            .then(response => {
                if (response.ok) {
                    window.location.href = '/';
                    let userId = response.headers.get("userId");
                    localStorage.setItem("userId", userId);
                } else {
                    console.log('statusCode: ' + response.status);
                    alert("로그인에 실패하였습니다. 다시 확인해주세요.")
                    window.location.href = '/login?error';
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert("로그인에 실패하였습니다. 다시 확인해주세요.")
                window.location.href = '/login?error';
            });
    }
</script>
</body>
</html>