<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
<div class="field">
    <div class="introduce">
        <h2 class="welcome">클래스메이트는 여러분의 수강신청과 함께 합니다</h2>
        <!--            <img src="../static/img/logo.png" alt="logo">-->
        <ul class="introduce-detail">
            <li class="detail-content">수강신청 서비스, classmate에 오신 것을 환영합니다</li>
            <li class="detail-content">대용량 트래픽이 몰려도 안정적인 서비스를 제공합니다</li>
            <li class="detail-content">공정하고 신뢰성 있는 수강신청 결과를 보장합니다</li>
            <li class="detail-content">여러분의 성공적인 수강신청을 기원합니다</li>
        </ul>
    </div>
    <div class="container">
        <div class="signup" style="display: flex; justify-content: center">
            <h2 class="signup-text">회원가입</h2>
        </div>
        <form id="signupForm">
            <input type="text" name="email" id="email" placeholder="Email" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required>
            <input type="text" name="name" id="name" placeholder="Name" required>
            <button class="signup-btn" type="button" id="signupButton">회원가입</button>
        </form>
        <div class="error-message"></div>
    </div>
</div>

<script>
    var passwordInput = document.getElementById("password");
    var confirmPasswordInput = document.getElementById("confirmPassword");
    var signupButton = document.getElementById("signupButton");

    confirmPasswordInput.addEventListener("input", validatePassword);

    function validatePassword() {
        if (passwordInput.value !== confirmPasswordInput.value) {
            confirmPasswordInput.setCustomValidity("비밀번호가 일치하지 않습니다.");
        } else {
            confirmPasswordInput.setCustomValidity("");
        }
    }

    signupButton.addEventListener("click", function() {
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;
        var name = document.getElementById("name").value;

        fetch('/api/signup', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                email: email,
                password: password,
                name: name,
            })
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('회원가입에 실패하였습니다.');
                }
            })
            .then(data => {
                // Success logic here
                alert('회원가입이 성공되었습니다.');
                window.location.href = '/login';
            })
            .catch(error => {
                console.error('Error:', error);
                alert("회원가입 실패: " + error.message);
            });
    });
</script>
</body>
</html>
